# MongoDB Operators

Go over the usage of common operators within pymongo queries

In [1]:
import pymongo
from pymongo import MongoClient

### Initalize A Client, Connect To DB, Speicfy Collection

In [2]:
client = MongoClient("mongodb://localhost:27017/")
db = client["my_store"]
products_col = db["products"]

### Helper Function to print all entries in a cursor

In [3]:
def print_cursor(cursor):
    for document in cursor:
        print(document)

### Comparison Operators

###### $lt - Less Than

In [4]:
lt_cursor = products_col.find({"price":{ "$lt": 10.00}})
print_cursor(lt_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253194'), 'name': 'Notebook', 'price': 4.99}
{'_id': ObjectId('61551dc9fbfbc4ad4b253195'), 'name': 'Pens', 'price': 9.58}
{'_id': ObjectId('61551dc9fbfbc4ad4b253197'), 'name': 'Jar', 'price': 4.99}
{'_id': ObjectId('61551dcffbfbc4ad4b253198'), 'name': 'Pens', 'price': 9.58}

###### $gte - Greater Than or Equal To (combined with another operator)

In [5]:
lt_gte_cursor = products_col.find({"price":{ "$lt": 8.00, "$gte": 4.99}})
print_cursor(lt_gte_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253194'), 'name': 'Notebook', 'price': 4.99}
{'_id': ObjectId('61551dc9fbfbc4ad4b253197'), 'name': 'Jar', 'price': 4.99}

###### $ne - Not Equal To (combined with another operator)

In [6]:
lt_ne_cursor = products_col.find({"price":{ "$lt": 15.00}, "name": {"$ne": "Pens"}})
print_cursor(lt_ne_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253194'), 'name': 'Notebook', 'price': 4.99}
{'_id': ObjectId('61551dc9fbfbc4ad4b253196'), 'name': 'Water Bottle', 'price': 14.85}
{'_id': ObjectId('61551dc9fbfbc4ad4b253197'), 'name': 'Jar', 'price': 4.99}
{'_id': ObjectId('61551dd4fbfbc4ad4b253199'), 'name': 'Mug', 'price': 12.99}

### Logical Operators

##### $and

In [7]:
and_cursor = products_col.find(
    {"$and": [
        {"price": {"$lt": 15.00}}, 
        {"name": {"$ne": "Pens"}}
    ]})
print_cursor(and_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253194'), 'name': 'Notebook', 'price': 4.99}
{'_id': ObjectId('61551dc9fbfbc4ad4b253196'), 'name': 'Water Bottle', 'price': 14.85}
{'_id': ObjectId('61551dc9fbfbc4ad4b253197'), 'name': 'Jar', 'price': 4.99}
{'_id': ObjectId('61551dd4fbfbc4ad4b253199'), 'name': 'Mug', 'price': 12.99}

###### $or

In [8]:
or_cursor = products_col.find(
    {"$or": [
        {"price": {"$gt": 15.00}}, 
        {"price": {"$lt": 5.00}}
    ]})
print_cursor(or_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253192'), 'name': 'Bag', 'price': 23.78}
{'_id': ObjectId('61551dc9fbfbc4ad4b253193'), 'name': 'iPhone 11', 'price': 800}
{'_id': ObjectId('61551dc9fbfbc4ad4b253194'), 'name': 'Notebook', 'price': 4.99}
{'_id': ObjectId('61551dc9fbfbc4ad4b253197'), 'name': 'Jar', 'price': 4.99}

###### $nor

In [9]:
nor_cursor = products_col.find(
    {"$nor": [
        {"price": {"$gt": 15.00}}, 
        {"price": {"$lt": 5.00}}
    ]})
print_cursor(nor_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253195'), 'name': 'Pens', 'price': 9.58}
{'_id': ObjectId('61551dc9fbfbc4ad4b253196'), 'name': 'Water Bottle', 'price': 14.85}
{'_id': ObjectId('61551dcffbfbc4ad4b253198'), 'name': 'Pens', 'price': 9.58}
{'_id': ObjectId('61551dd4fbfbc4ad4b253199'), 'name': 'Mug', 'price': 12.99}

###### $type

In [10]:
type_cursor = products_col.find({"price": {"$type": "int"}})
print_cursor(type_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253193'), 'name': 'iPhone 11', 'price': 800}

### Other Useful Operators

###### $exists - Check if a attribute name exists in entries

In [11]:
# Note: I manually updated one of my entries to have a "seller" attribute
exists_cursor = products_col.find({"seller": {"$exists": True}})
print_cursor(exists_cursor)

{'_id': ObjectId('61551dcffbfbc4ad4b253198'), 'name': 'Pens', 'price': 9.58, 'seller': 'Raymond'}

#####  $regex - Search for substring within query entries

In [12]:
regex_cursor = products_col.find({"name": {"$regex": "Water"}})
print_cursor(regex_cursor)

{'_id': ObjectId('61551dc9fbfbc4ad4b253196'), 'name': 'Water Bottle', 'price': 14.85}

In [13]:
# Add the "i" value to the $option operator to make the text searched for case insensitive
regex_cursor_options = products_col.find({"name": {"$regex": "water", "$options": "i" }})
print_cursor(regex_cursor_options)

{'_id': ObjectId('61551dc9fbfbc4ad4b253196'), 'name': 'Water Bottle', 'price': 14.85}