# Variable characteristics

The original data source can be found here:
    
Data: https://archive-beta.ics.uci.edu/dataset/544/estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition

Variable names: https://www.sciencedirect.com/science/article/pii/S2352340919306985?via%3Dihub#sec1

I've modified the data for the course and uploaded it to the repo.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../obesity_nan.csv")
data.head()

,gender,age,height,weight,family_history_with_overweight,eat_high_cal_food,freq_eat_veggies,daily_main_meals,eat_between_meals,smoke,water_intake,moitor_daily_calories,freq_physical_activity,use_of_tech_devices,alcohol_intake,transportation_mean,obesity_type
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,NaN,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,NaN,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,NaN,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,NaN,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

# Which variables contain missing data?

# What's the percentage of missing data in gender and water intake?

# What is the cardinality of eat_between_meals?

# Are there highly cardinal categorical variables?

Not really.

## Are there variables with rare labels? Consider rare if present in less than 5% of the data.

# Are all numerical variables skewed?

# Are there outliers in height? Use the normal distribution.

# Are there outliers in age?

# Are the numerical variables in a similar scale?

Nope.