In [2]:
import pandas as pd

In [17]:
df = pd.DataFrame({'A': [4, 5, 6], 'B': [4, 1, 1], 'C': [1, 1, 1]})
df

   A  B  C
0  4  4  1
1  5  1  1
2  6  1  1

In [18]:
features_count = df.nunique(dropna=False)

In [19]:
features_count.sort_values()

C    1
B    2
A    3
dtype: int64

In [20]:
features_count.loc[features_count==1].index.tolist()

['C']

In [26]:
import numpy as np
a = np.arange(1,10)
inv_a = 1.0 /a
w = inv_a/sum(inv_a)
idxs = np.argsort(w)
sorted_w = w[idxs]
sorted_w_cumsum = np.cumsum(sorted_w)
idx = np.where(sorted_w_cumsum > 0.5)[0][0]
a[idxs[idx]]
print(f"np.where(sorted_w_cumsum)= {np.where(sorted_w_cumsum > 0.5)}")

np.where(sorted_w_cumsum)= (array([7, 8], dtype=int64),)

In [27]:
w

array([0.35348576, 0.17674288, 0.11782859, 0.08837144, 0.07069715,
       0.05891429, 0.05049797, 0.04418572, 0.0392762 ])

In [29]:
sorted_w_cumsum > 0.5

array([False, False, False, False, False, False, False,  True,  True])

In [35]:
np.where(sorted_w_cumsum > 0.5)[0][0]

7