# MongoDB Update Functionality

Go over ways to update entries in MongoDB in pymongo

In [1]:
import pymongo
from pymongo import MongoClient

### Initalize A Client, Connect To DB, Speicfy Collection

In [2]:
client = MongoClient("mongodb://localhost:27017/")
db = client["my_store"]
products_col = db["products"]

### update_one()

In [3]:
products_col.update_one({"name": "Bag"}, {"$set": {"price": 24.38}})

In [4]:
update_one_res = products_col.update_one({"name": "Bag"}, {"$set": {"price": 25.78}})

In [5]:
print(update_one_res.acknowledged)
print(update_one_res.matched_count)
print(update_one_res.modified_count)
print(update_one_res.raw_result)
print(update_one_res.upserted_id)

True
0
0
{'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}
None

### replace_one()

In [6]:
replace_one_res = products_col.replace_one({"name": "Bag"}, {"product_name": "Bag", "price": 25.76, "seller": "Raymond"})
replace_one_res

In [7]:
print(replace_one_res.acknowledged)
print(replace_one_res.matched_count)
print(replace_one_res.modified_count)
print(replace_one_res.raw_result)
print(replace_one_res.upserted_id)

True
0
0
{'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}
None

### update_many()

In [8]:
update_many_res = products_col.update_many({"name": "Pens"}, {"$set": {"price": 11.58}})
update_many_res

In [9]:
print(update_many_res.acknowledged)
print(update_many_res.matched_count)
print(update_many_res.modified_count)
print(update_many_res.raw_result)
print(update_many_res.upserted_id)

True
2
2
{'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}
None

### upserting

In [10]:
update_upsert_res = products_col.update_many({"name": "Hat"}, {"$set": {"name":"Hat", "price": 17.23}}, upsert=True)
update_upsert_res

In [11]:
print(update_upsert_res.acknowledged)
print(update_upsert_res.matched_count)
print(update_upsert_res.modified_count)
print(update_upsert_res.raw_result)
print(update_upsert_res.upserted_id)

True
1
1
{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}
None

### Update Operators

In [12]:
# update the specified column by the current date
products_col.update_many({}, {"$currentDate": {"date": True}})
for doc in products_col.find({}):
    print(doc)

{'_id': ObjectId('6388076dbd286215efa234af'), 'name': 'Pens', 'price': 11.58, 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 222000)}
{'_id': ObjectId('6388092abd286215efa234b0'), 'name': 'Water Bottle', 'price': 16.061760000000003, 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000)}
{'_id': ObjectId('6388092abd286215efa234b1'), 'name': 'Jar', 'price': 5.397184, 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000)}
{'_id': ObjectId('63880a17bd286215efa234b2'), 'name': 'Pens', 'price': 11.58, 'seller': 'Raymond', 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000)}
{'_id': ObjectId('63880cb1bd286215efa234b3'), 'name': 'Mug', 'price': 14.049984000000002, 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000)}
{'_id': ObjectId('638ab0b6b64a67e2de9d01fb'), 'product_name': 'Bag', 'price': 27.862016000000004, 'seller': 'Raymond', 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000)}
{'_id': ObjectId('638ab4d5fcce23a63c41d2cc'), 'name': 'Hat', 'price': 17.23, 'date': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000)}

In [13]:
products_col.update_many({}, {"$rename": {"date": "date_added"}})
products_col.update_many({}, {"$currentDate": {"date": True}})
for doc in products_col.find({}):
    print(doc)

{'_id': ObjectId('6388076dbd286215efa234af'), 'name': 'Pens', 'price': 11.58, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 222000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b0'), 'name': 'Water Bottle', 'price': 16.061760000000003, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b1'), 'name': 'Jar', 'price': 5.397184, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880a17bd286215efa234b2'), 'name': 'Pens', 'price': 11.58, 'seller': 'Raymond', 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880cb1bd286215efa234b3'), 'name': 'Mug', 'price': 14.049984000000002, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab0b6b64a67e2de9d01fb'), 'product_name': 'Bag', 'price': 27.862016000000004, 'seller': 'Raymond', 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab4d5fcce23a63c41d2cc'), 'name': 'Hat', 'price': 17.23, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}

In [15]:
# multiply price column by 1.04
products_col.update_many({}, {"$mul": {"price": 1.04}})
for doc in products_col.find({}):
    print(doc)

{'_id': ObjectId('6388076dbd286215efa234af'), 'name': 'Pens', 'price': 12.524928000000001, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 222000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b0'), 'name': 'Water Bottle', 'price': 17.372399616000003, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b1'), 'name': 'Jar', 'price': 5.8375942144, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880a17bd286215efa234b2'), 'name': 'Pens', 'price': 12.524928000000001, 'seller': 'Raymond', 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880cb1bd286215efa234b3'), 'name': 'Mug', 'price': 15.196462694400003, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab0b6b64a67e2de9d01fb'), 'product_name': 'Bag', 'price': 30.135556505600004, 'seller': 'Raymond', 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab4d5fcce23a63c41d2cc'), 'name': 'Hat', 'price': 18.635968000000002, 'date_added': datetime.datetime(2023, 7, 3, 0, 37, 13, 223000), 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}

In [17]:
# delete the specified column
products_col.update_many({}, {"$unset": {"date_added": True}})
for doc in products_col.find({}):
    print(doc)

{'_id': ObjectId('6388076dbd286215efa234af'), 'name': 'Pens', 'price': 12.524928000000001, 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b0'), 'name': 'Water Bottle', 'price': 17.372399616000003, 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b1'), 'name': 'Jar', 'price': 5.8375942144, 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880a17bd286215efa234b2'), 'name': 'Pens', 'price': 12.524928000000001, 'seller': 'Raymond', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880cb1bd286215efa234b3'), 'name': 'Mug', 'price': 15.196462694400003, 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab0b6b64a67e2de9d01fb'), 'product_name': 'Bag', 'price': 30.135556505600004, 'seller': 'Raymond', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab4d5fcce23a63c41d2cc'), 'name': 'Hat', 'price': 18.635968000000002, 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}

In [18]:
products_col.update_many({}, {"$unset": {"price": True}})
for doc in products_col.find({}):
    print(doc)

{'_id': ObjectId('6388076dbd286215efa234af'), 'name': 'Pens', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b0'), 'name': 'Water Bottle', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('6388092abd286215efa234b1'), 'name': 'Jar', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880a17bd286215efa234b2'), 'name': 'Pens', 'seller': 'Raymond', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('63880cb1bd286215efa234b3'), 'name': 'Mug', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab0b6b64a67e2de9d01fb'), 'product_name': 'Bag', 'seller': 'Raymond', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}
{'_id': ObjectId('638ab4d5fcce23a63c41d2cc'), 'name': 'Hat', 'date': datetime.datetime(2023, 7, 3, 0, 38, 8, 823000)}